@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-dyf6OlUY3: #ff0000;
  --plasmic-token-unnamed-style-token: var(--token-dyf6OlUY3);
}

.plasmic_default_styles {
  --mixin-i-aD8-4AaJ_font-family: "Inter";
  --mixin-i-aD8-4AaJ_font-size: 16px;
  --mixin-i-aD8-4AaJ_font-weight: 400;
  --mixin-i-aD8-4AaJ_font-style: normal;
  --mixin-i-aD8-4AaJ_color: #535353;
  --mixin-i-aD8-4AaJ_text-align: left;
  --mixin-i-aD8-4AaJ_text-transform: none;
  --mixin-i-aD8-4AaJ_line-height: 1.5;
  --mixin-i-aD8-4AaJ_letter-spacing: normal;
  --mixin-i-aD8-4AaJ_white-space: pre-wrap;
  --mixin-i-aD8-4AaJ_user-select: text;
  --mixin-i-aD8-4AaJ_text-decoration-line: none;
  --mixin-i-aD8-4AaJ_text-overflow: clip;
  --mixin-CAFDfB5Rt6_color: #000000;
  --mixin-CAFDfB5Rt6_font-weight: 900;
  --mixin-CAFDfB5Rt6_font-size: 72px;
  --mixin-CAFDfB5Rt6_line-height: 1;
  --mixin-CAFDfB5Rt6_letter-spacing: -4px;
  --mixin-sUYIUbPB7Q_font-family: "Inter";
  --mixin-sUYIUbPB7Q_color: #000000;
  --mixin-sUYIUbPB7Q_font-size: 48px;
  --mixin-sUYIUbPB7Q_font-weight: 700;
  --mixin-sUYIUbPB7Q_letter-spacing: -1px;
  --mixin-sUYIUbPB7Q_line-height: 1.1;
  --mixin-QogCdu0EhO_color: #0070f3;
  --mixin-gLhzkHyYdJ_font-family: "Inter";
  --mixin-gLhzkHyYdJ_color: #000000;
  --mixin-gLhzkHyYdJ_font-size: 32px;
  --mixin-gLhzkHyYdJ_font-weight: 600;
  --mixin-gLhzkHyYdJ_letter-spacing: -0.8px;
  --mixin-gLhzkHyYdJ_line-height: 1.2;
  --mixin-mKCVrQix0u_font-family: "Inter";
  --mixin-mKCVrQix0u_color: #000000;
  --mixin-mKCVrQix0u_font-size: 24px;
  --mixin-mKCVrQix0u_font-weight: 600;
  --mixin-mKCVrQix0u_letter-spacing: -0.5px;
  --mixin-mKCVrQix0u_line-height: 1.3;
  --mixin-IQbzdWCzhZ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-IQbzdWCzhZ_border-bottom-color: #dddddd;
  --mixin-IQbzdWCzhZ_border-bottom-style: solid;
  --mixin-IQbzdWCzhZ_border-bottom-width: 1px;
  --mixin-IQbzdWCzhZ_border-left-color: #dddddd;
  --mixin-IQbzdWCzhZ_border-left-style: solid;
  --mixin-IQbzdWCzhZ_border-left-width: 1px;
  --mixin-IQbzdWCzhZ_border-right-color: #dddddd;
  --mixin-IQbzdWCzhZ_border-right-style: solid;
  --mixin-IQbzdWCzhZ_border-right-width: 1px;
  --mixin-IQbzdWCzhZ_border-top-color: #dddddd;
  --mixin-IQbzdWCzhZ_border-top-style: solid;
  --mixin-IQbzdWCzhZ_border-top-width: 1px;
  --mixin-IQbzdWCzhZ_border-bottom-left-radius: 3px;
  --mixin-IQbzdWCzhZ_border-bottom-right-radius: 3px;
  --mixin-IQbzdWCzhZ_border-top-left-radius: 3px;
  --mixin-IQbzdWCzhZ_border-top-right-radius: 3px;
  --mixin-IQbzdWCzhZ_font-family: "Inconsolata";
  --mixin-IQbzdWCzhZ_padding-bottom: 1px;
  --mixin-IQbzdWCzhZ_padding-left: 4px;
  --mixin-IQbzdWCzhZ_padding-right: 4px;
  --mixin-IQbzdWCzhZ_padding-top: 1px;
  --mixin-MYL7O1StAN_border-left-color: #dddddd;
  --mixin-MYL7O1StAN_border-left-style: solid;
  --mixin-MYL7O1StAN_border-left-width: 3px;
  --mixin-MYL7O1StAN_color: #888888;
  --mixin-MYL7O1StAN_padding-left: 10px;
  --mixin-cMmefEdIOH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-cMmefEdIOH_border-bottom-color: #dddddd;
  --mixin-cMmefEdIOH_border-bottom-style: solid;
  --mixin-cMmefEdIOH_border-bottom-width: 1px;
  --mixin-cMmefEdIOH_border-left-color: #dddddd;
  --mixin-cMmefEdIOH_border-left-style: solid;
  --mixin-cMmefEdIOH_border-left-width: 1px;
  --mixin-cMmefEdIOH_border-right-color: #dddddd;
  --mixin-cMmefEdIOH_border-right-style: solid;
  --mixin-cMmefEdIOH_border-right-width: 1px;
  --mixin-cMmefEdIOH_border-top-color: #dddddd;
  --mixin-cMmefEdIOH_border-top-style: solid;
  --mixin-cMmefEdIOH_border-top-width: 1px;
  --mixin-cMmefEdIOH_border-bottom-left-radius: 3px;
  --mixin-cMmefEdIOH_border-bottom-right-radius: 3px;
  --mixin-cMmefEdIOH_border-top-left-radius: 3px;
  --mixin-cMmefEdIOH_border-top-right-radius: 3px;
  --mixin-cMmefEdIOH_font-family: "Inconsolata";
  --mixin-cMmefEdIOH_padding-bottom: 3px;
  --mixin-cMmefEdIOH_padding-left: 6px;
  --mixin-cMmefEdIOH_padding-right: 6px;
  --mixin-cMmefEdIOH_padding-top: 3px;
  --mixin-5LNOTOb3fz_display: flex;
  --mixin-5LNOTOb3fz_flex-direction: column;
  --mixin-5LNOTOb3fz_align-items: stretch;
  --mixin-5LNOTOb3fz_justify-content: flex-start;
  --mixin-5LNOTOb3fz_list-style-position: outside;
  --mixin-5LNOTOb3fz_padding-left: 40px;
  --mixin-5LNOTOb3fz_position: relative;
  --mixin-5LNOTOb3fz_list-style-type: disc;
  --mixin-ohohpTCHM5_display: flex;
  --mixin-ohohpTCHM5_flex-direction: column;
  --mixin-ohohpTCHM5_align-items: stretch;
  --mixin-ohohpTCHM5_justify-content: flex-start;
  --mixin-ohohpTCHM5_list-style-position: outside;
  --mixin-ohohpTCHM5_padding-left: 40px;
  --mixin-ohohpTCHM5_position: relative;
  --mixin-ohohpTCHM5_list-style-type: decimal;
  --mixin-S1cyRi2qJKo_font-family: "Inter";
  --mixin-S1cyRi2qJKo_color: #000000;
  --mixin-S1cyRi2qJKo_font-size: 20px;
  --mixin-S1cyRi2qJKo_font-weight: 600;
  --mixin-S1cyRi2qJKo_letter-spacing: -0.3px;
  --mixin-S1cyRi2qJKo_line-height: 1.5;
  --mixin-BGNY_z_MWm8_font-family: "Inter";
  --mixin-BGNY_z_MWm8_color: #000000;
  --mixin-BGNY_z_MWm8_font-size: 16px;
  --mixin-BGNY_z_MWm8_font-weight: 600;
  --mixin-BGNY_z_MWm8_line-height: 1.5;
  --mixin-hRCsItPzzBZ_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-i-aD8-4AaJ_font-family);
  font-size: var(--mixin-i-aD8-4AaJ_font-size);
  font-weight: var(--mixin-i-aD8-4AaJ_font-weight);
  font-style: var(--mixin-i-aD8-4AaJ_font-style);
  color: var(--mixin-i-aD8-4AaJ_color);
  text-align: var(--mixin-i-aD8-4AaJ_text-align);
  text-transform: var(--mixin-i-aD8-4AaJ_text-transform);
  line-height: var(--mixin-i-aD8-4AaJ_line-height);
  letter-spacing: var(--mixin-i-aD8-4AaJ_letter-spacing);
  white-space: var(--mixin-i-aD8-4AaJ_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-CAFDfB5Rt6_color);
  font-weight: var(--mixin-CAFDfB5Rt6_font-weight);
  font-size: var(--mixin-CAFDfB5Rt6_font-size);
  line-height: var(--mixin-CAFDfB5Rt6_line-height);
  letter-spacing: var(--mixin-CAFDfB5Rt6_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-sUYIUbPB7Q_font-family);
  color: var(--mixin-sUYIUbPB7Q_color);
  font-size: var(--mixin-sUYIUbPB7Q_font-size);
  font-weight: var(--mixin-sUYIUbPB7Q_font-weight);
  letter-spacing: var(--mixin-sUYIUbPB7Q_letter-spacing);
  line-height: var(--mixin-sUYIUbPB7Q_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-QogCdu0EhO_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-gLhzkHyYdJ_font-family);
  color: var(--mixin-gLhzkHyYdJ_color);
  font-size: var(--mixin-gLhzkHyYdJ_font-size);
  font-weight: var(--mixin-gLhzkHyYdJ_font-weight);
  letter-spacing: var(--mixin-gLhzkHyYdJ_letter-spacing);
  line-height: var(--mixin-gLhzkHyYdJ_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-mKCVrQix0u_font-family);
  color: var(--mixin-mKCVrQix0u_color);
  font-size: var(--mixin-mKCVrQix0u_font-size);
  font-weight: var(--mixin-mKCVrQix0u_font-weight);
  letter-spacing: var(--mixin-mKCVrQix0u_letter-spacing);
  line-height: var(--mixin-mKCVrQix0u_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-IQbzdWCzhZ_background);
  font-family: var(--mixin-IQbzdWCzhZ_font-family);
  border-radius: var(--mixin-IQbzdWCzhZ_border-top-left-radius)
    var(--mixin-IQbzdWCzhZ_border-top-right-radius)
    var(--mixin-IQbzdWCzhZ_border-bottom-right-radius)
    var(--mixin-IQbzdWCzhZ_border-bottom-left-radius);
  padding: var(--mixin-IQbzdWCzhZ_padding-top)
    var(--mixin-IQbzdWCzhZ_padding-right) var(--mixin-IQbzdWCzhZ_padding-bottom)
    var(--mixin-IQbzdWCzhZ_padding-left);
  border-top: var(--mixin-IQbzdWCzhZ_border-top-width)
    var(--mixin-IQbzdWCzhZ_border-top-style)
    var(--mixin-IQbzdWCzhZ_border-top-color);
  border-right: var(--mixin-IQbzdWCzhZ_border-right-width)
    var(--mixin-IQbzdWCzhZ_border-right-style)
    var(--mixin-IQbzdWCzhZ_border-right-color);
  border-bottom: var(--mixin-IQbzdWCzhZ_border-bottom-width)
    var(--mixin-IQbzdWCzhZ_border-bottom-style)
    var(--mixin-IQbzdWCzhZ_border-bottom-color);
  border-left: var(--mixin-IQbzdWCzhZ_border-left-width)
    var(--mixin-IQbzdWCzhZ_border-left-style)
    var(--mixin-IQbzdWCzhZ_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-MYL7O1StAN_color);
  padding-left: var(--mixin-MYL7O1StAN_padding-left);
  border-left: var(--mixin-MYL7O1StAN_border-left-width)
    var(--mixin-MYL7O1StAN_border-left-style)
    var(--mixin-MYL7O1StAN_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-cMmefEdIOH_background);
  font-family: var(--mixin-cMmefEdIOH_font-family);
  border-radius: var(--mixin-cMmefEdIOH_border-top-left-radius)
    var(--mixin-cMmefEdIOH_border-top-right-radius)
    var(--mixin-cMmefEdIOH_border-bottom-right-radius)
    var(--mixin-cMmefEdIOH_border-bottom-left-radius);
  padding: var(--mixin-cMmefEdIOH_padding-top)
    var(--mixin-cMmefEdIOH_padding-right) var(--mixin-cMmefEdIOH_padding-bottom)
    var(--mixin-cMmefEdIOH_padding-left);
  border-top: var(--mixin-cMmefEdIOH_border-top-width)
    var(--mixin-cMmefEdIOH_border-top-style)
    var(--mixin-cMmefEdIOH_border-top-color);
  border-right: var(--mixin-cMmefEdIOH_border-right-width)
    var(--mixin-cMmefEdIOH_border-right-style)
    var(--mixin-cMmefEdIOH_border-right-color);
  border-bottom: var(--mixin-cMmefEdIOH_border-bottom-width)
    var(--mixin-cMmefEdIOH_border-bottom-style)
    var(--mixin-cMmefEdIOH_border-bottom-color);
  border-left: var(--mixin-cMmefEdIOH_border-left-width)
    var(--mixin-cMmefEdIOH_border-left-style)
    var(--mixin-cMmefEdIOH_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-5LNOTOb3fz_display);
  flex-direction: var(--mixin-5LNOTOb3fz_flex-direction);
  align-items: var(--mixin-5LNOTOb3fz_align-items);
  justify-content: var(--mixin-5LNOTOb3fz_justify-content);
  list-style-position: var(--mixin-5LNOTOb3fz_list-style-position);
  padding-left: var(--mixin-5LNOTOb3fz_padding-left);
  position: var(--mixin-5LNOTOb3fz_position);
  list-style-type: var(--mixin-5LNOTOb3fz_list-style-type);
  flex-column-gap: var(--mixin-5LNOTOb3fz_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-ohohpTCHM5_display);
  flex-direction: var(--mixin-ohohpTCHM5_flex-direction);
  align-items: var(--mixin-ohohpTCHM5_align-items);
  justify-content: var(--mixin-ohohpTCHM5_justify-content);
  list-style-position: var(--mixin-ohohpTCHM5_list-style-position);
  padding-left: var(--mixin-ohohpTCHM5_padding-left);
  position: var(--mixin-ohohpTCHM5_position);
  list-style-type: var(--mixin-ohohpTCHM5_list-style-type);
  flex-column-gap: var(--mixin-ohohpTCHM5_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-S1cyRi2qJKo_font-family);
  color: var(--mixin-S1cyRi2qJKo_color);
  font-size: var(--mixin-S1cyRi2qJKo_font-size);
  font-weight: var(--mixin-S1cyRi2qJKo_font-weight);
  letter-spacing: var(--mixin-S1cyRi2qJKo_letter-spacing);
  line-height: var(--mixin-S1cyRi2qJKo_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-BGNY_z_MWm8_font-family);
  color: var(--mixin-BGNY_z_MWm8_color);
  font-size: var(--mixin-BGNY_z_MWm8_font-size);
  font-weight: var(--mixin-BGNY_z_MWm8_font-weight);
  line-height: var(--mixin-BGNY_z_MWm8_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-hRCsItPzzBZ_color);
}
