.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
.text__nxmSu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h2 {
  text-align: center;
}
.freeBox__ef7Sn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kVg0W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.text__kg9K {
  height: auto;
}
.svg__rCdyi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.supabaseQuery:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.supabaseGridCollection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.post:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.supabaseTextField__pTw6F:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  font-weight: 900;
}
.supabaseTextField__dPhDh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.supabaseImgField__yzPl7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.supabaseTableCollection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
.text__zxefe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.svg__p1P5N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #0025ff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.supabaseDeleteButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pFec5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #ff0000;
  cursor: pointer;
}
.supabaseMutation:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___31BcA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__d6AvH {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__d6AvH > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__d6AvH > :global(.__wab_flex-container) > *,
.freeBox__d6AvH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d6AvH > :global(.__wab_flex-container) > picture > img,
.freeBox__d6AvH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__z0RmY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
}
.supabaseTextField__qhtay:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ssRrv {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ssRrv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ssRrv > :global(.__wab_flex-container) > *,
.freeBox__ssRrv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ssRrv > :global(.__wab_flex-container) > picture > img,
.freeBox__ssRrv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__pkjBz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
}
.supabaseTextField__kncI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__mbQse {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mbQse > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__mbQse > :global(.__wab_flex-container) > *,
.freeBox__mbQse > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mbQse > :global(.__wab_flex-container) > picture > img,
.freeBox__mbQse
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text___7KRoK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
}
.freeBox__zu8RS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.supabaseImgField__htaM4:global(.__wab_instance) {
  max-width: 100%;
}
